%nav.indigo.darken-4
  .nav-wrapper
    = link_to "FootReview", "/", class:"brand-logo"
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          = link_to "Logout", destroy_user_session_path, method: :delete
        - if current_user.try(:admin?)
          %li
            = link_to "Admin", "/admin"
        %li
          = image_tag "#{current_user.avatar}", class:"current-avatar-image"
      - else
        %li
          = link_to "Sign up", new_user_registration_path
        %li
          = link_to "Sign in", new_user_session_path