-# スコアボード
.match-makeup-content
  .match-makeup-content__shadow
    .home-team-content
      .home-team-content__image
        = image_tag "#{@game.home_team_img}"
      .home-team-content__name
        = @game.home_team_name
      .home-team-content__score
        = @game.home_team_score
    .away-team-content
      .away-team-content__image
        = image_tag "#{@game.away_team_img}"
      .away-team-content__name
        = @game.away_team_name
      .away-team-content__score
        = @game.away_team_score

-# スタメン一覧
.starting_member_table
  %table{class: "striped"}
    %thead
      %tr
        %th{colspan: "2"} Starting Member
    - @game_members.each do |member|
      - if member.home_away == "home" && member.in_time == nil
        %tbody
          %tr
            %td{class: "position"}= member.position 
            %td= member.name
  %table{class: "striped"}
    %thead
      %tr
        %th{colspan: "2"}　
    - @game_members.each do |member|
      - if member.home_away == "away" && member.in_time == nil
        %tbody
          %tr
            %td{class: "position"}= member.position 
            %td= member.name

-# 選手交代（IN)
.change_in_member_table
  %table{class: "striped"}
    %thead
      %tr
        %th{colspan: "2"} Substitution of Players (IN)
    - @game_members.each do |member|
      - if member.home_away == "home" && member.in_time?
        %tbody
          %tr
            %td.position= member.position 
            %td= member.name
            %td.time= "IN #{member.in_time} min"
  %table{class: "striped"}
    %thead
      %tr
        %th{colspan: "2"}　
    - @game_members.each do |member|
      - if member.home_away == "away" && member.in_time?
        %tbody
          %tr
            %td.position= member.position 
            %td= member.name
            %td.time= "IN #{member.in_time} min"

-# 選手交代（OUT)
.change_out_member_table
  %table{class: "striped"}
    %thead
      %tr
        %th{colspan: "2"} Substitution of Players (OUT)
    - @game_members.each do |member|
      - if member.home_away == "home" && member.out_time?
        %tbody
          %tr
            %td.position= member.position 
            %td= member.name
            %td.time= "OUT #{member.out_time} min"
  %table{class: "striped"}
    %thead
      %tr
        %th{colspan: "2"}　
    - @game_members.each do |member|
      - if member.home_away == "away" && member.out_time?
        %tbody
          %tr
            %td.position= member.position 
            %td= member.name
            %td.time= "OUT #{member.out_time} min"

-# レビュー投稿ボタン
= link_to "Review a Post", "/games/#{@game.id}/reviews/new", class:"waves-effect waves-light btn-large indigo darken-4 review_btn"

-# レビュー一覧
.main
  .main__wrapper
    .main__wrapper__title Review List
    .main__contents
      - @reviews.each do |review|
        .row
          .col.s8.offset-s2
            .card.white
              .card-content.black-text
                %span= image_tag review.user.avatar.to_s, class: "review_list_avatar"
                .review_list_name= "#{review.user.name} review"
              .card-action
                = link_to 'show', "/games/#{@game.id}/reviews/#{review.id}"
                - if user_signed_in? && current_user.id == review.user_id
                  = link_to 'delete', "/games/#{@game.id}/reviews/#{review.id}", method: :delete
                  = link_to 'edit', "/games/#{@game.id}/reviews/#{review.id}/edit"

-# ページネーション呼び出し
= paginate(@reviews)

-# フッター呼び出し
= render 'shared/footer'