.container
  = form_with model: [@game, @review], local: true  do |f|

    -# エラー文を表示
    - if @review.errors.any?
      %p There is an error in the entered information
      %ul
        - @review.errors.full_messages.each do |review|
          %li= review
    
    -# MOM入力フォーム
    .mom-form
      = f.label :"Man of the match", class: "label"
      = f.collection_select :mom, @game_members, :name, :name, { prompt: "---" }, class:"mom-select", required: "required", style:"width: 200px;"

    -# 選手採点入力フォーム
    .parent{style: "display: flex;"}
      .child1{style: "width: 20vw;"}
        - @game_members.each do |member|
          %p{class: 'player-name'}= member.name
      .child2{style: "width: 80vw;"}
        = f.fields_for :player_reviews do |pr|
          .player-review-form
            = pr.number_field :rate, min: 1, max: 10, style:"width: 100px; margin-right: 20px;", placeholder: "Rate 1~10"
            %br/
            = pr.text_field :text, placeholder: "Review"

    -# 総評入力フォーム
    .text-form
      = f.label :"General comment", class: "label"
      = f.text_area :text
    = f.submit "送信", class:"btn waves-effect waves-light indigo darken-4"
    
= render 'shared/footer'