.review-show
  .review-show__header
    .review-show__header__avatar
      %span= image_tag @review.user.avatar.to_s, class: "show_avatar"
    .review-show__header__name
      = "#{@review.user.name} review"
  .review-show__main
    .review-show__main__mom
      = "Man of the Match : #{@review.mom}"
    .review-show__main__mom
      - @game_members.zip(@player_reviews) do |member, review|
        .review-show__main__player-reviews
          %p= member.name
          %p= review.rate
        %p.review-show__text= review.text
    .review-show__main__review
      General comment
    .review-show__main__text
      = simple_format(@review.text)

= render 'shared/footer'